#testimonial{
    padding: 7% 0;

    .carousel-indicators{
        position: absolute;
        bottom: -4em;
            li{
                background-color: #e1e1e1;
            }
        }
    .carousel-item{
        img{
            width: 12%;
            height: 5em;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        h5{
            font-family: "Poppins",sans-serif;
            font-size: 17px;
            font-weight: 500;
            color: #e06767;
            padding-bottom: 8px;
            text-transform: uppercase;
        }
        h1{
            font-family: "Poppins",sans-serif;
            font-size: 22px;
            font-weight: 500;
            color: #000000;
            padding-bottom: 2em;
            text-transform: uppercase;
        }
        p{
            font-family: "Playfair Display",serif;
            font-size: 25px;
            font-weight: 300;
            color: #6a6a6a;
        }
    }
}