#use{
    padding: 3% 0;

    .col-lg-3{
        h1{
            font-size: 40px;
            font-weight: 300;
            font-family: "Poppins",sans-serif;
            color: #e55b5a;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            font-family: "Noto Serif",serif;
            color: #000000;
        }
    }
}